body{
    margin: 0;
    padding: 0;
}


/*PUNTO DE QUIEBRE PARA TELÉFONO*/
@media (max-width: 800px) {
    /*Elementos del header*/
header{
    background: #90AFC5;
    margin: 0;
    padding: 0;
}

/*Logo*/
header #logo #Elementos_Logo{
    display: flex;   /*Ayuda a colocar los contenedores como si fueran celdas de tablas, uno al lado del otro*/
    flex-direction: row; /*Dicta la dirección de los contenedores, al ser row es de izquierda a derecha*/
    align-items: center; /*Centra los elementos verticalmente*/
    justify-content: center; /*Centra los elementos horizontalmente*/
    color: white; /*Color del texto*/
    font: bold 25px georgia, times, serif;
    padding-top: 5px;
    margin: 0;
    text-align: center;
}

header #logo #Elementos_Logo img{
    min-width: 50px;
    min-height: 50px;
    max-width: 100px;
    max-width: 100px;
    object-fit: cover; /*Ajusta la imagen al contenedor manteniendo su aspecto original*/
    padding: 0;
}

header #logo #Elementos_Logo p{
    padding: 0;
    margin: 0;
}
/*Fin de parte de Logo*/
/*Desaparición del menú de navegación*/
#Menu_navegacion{
    display: none;
}



/*Sección principal*/
.seccion_principal{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/*Menu Lateral*/
    #menu_lateral {
        background: #336B87;
        width: 100%;
        color: white;
    }

        /*Icono de Menú*/
        #icono_hamburgesa {
            /*margin: 5px 0 5px 0;*/
            padding: 0;
            width: 100%;
            height: 45px;
            display: flex;
            justify-content: flex-end;
            /*background: linear-gradient(to bottom, #90AFC5, #336B87);*/ /* Degradado vertical de azul claro a oscuro*/
        }

        #icono_hamburgesa #barras_icono {
            position: absolute;
            width: 30px;
            height: 30px;
            margin: 5px 15px 5px 0;
            cursor: pointer;  /*Para que cambie el cursor a una manita y denote que es un elem. interactivo*/
        }

        #icono_hamburgesa #barras_icono span {
            display: block;
            width: 100%;
            height: 3px;
            background: white;
            margin-top: 6px;
            transform-origin: 0px 100%;
            transition: all 300ms;
        }

        /*Tranformación de las barras a X, se les agrega el ".animacionX para que solo se active con el CSS"*/
            .linea1_menu.animacion1 {
                transform: rotate(45deg) translate(-2px, 2px); /*Rotacion de 45 grados*/
            }

            .linea2_menu.animacion2 {
                opacity: 0;
                margin-left: -30px
            }

            .linea3_menu.animacion3 {
                transform: rotate(-45deg) translate(-2px, 2px);
            }

/*TODO Sección de contenido*/
.seccion_principal {
    display: flex;
    flex-direction: column;
}

    /*Menú lateral inicialmente oculto*/
    #menu_lateral nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease, opacity 0.5s ease; /* Agrega transiciones suaves */
        opacity: 0; /* Hace que el menú sea inicialmente transparente */
    }

    /*Mostrar el menú hamburguesa al hacer clic en el icono de menú*/
    #menu_lateral nav.mostrar_menu{
        max-height: 300px; /* Ajusta el valor máximo de altura deseado */
        opacity: 1; /* Hace que el menú sea completamente visible */
    }

    #menu_lateral nav h3{
        display: none;
    }

    #menu_lateral nav ul {
        list-style-type: none;
        font: normal 16px arial, times, serif; 
        margin: 10px 0 10px 0;
        padding: 0;
        text-align: center;
        width: 90%;
    }

    #menu_lateral nav ul li { 
        width: 100%;
        height: 100%;
    }

    #menu_lateral nav ul li a {
        text-decoration: none;
        color: white;

        width: 100%;
        height: 100%;
        padding: 5px 0 5px 0;
    }

    #menu_lateral nav ul li a button {
        border-radius: 10px;
        text-decoration: none;
        width: 100%;
        color: white;
        font: normal 16px arial, times, serif; 
        border: none;
        background: none;
        padding: 5px;
        margin: 0;
    }


    /*Efectos al pasar el puntero en el menú lateral*/
    #menu_lateral nav ul li a button:hover, #menu_lateral nav ul li a button:active,
    #menu_lateral nav ul li a button:focus {
        background: #763626;
        color: white;
    }

/**Espacio para botonres de asignaturas y las listas*/
/*TODO: Toda la información aquí es de ejemplo, se va a remplazar con los registros de la base de datos*/
#contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

    #asignaturas {
        width: 100%;
        background: linear-gradient(to bottom, #336B87, #2A3132, #763626);
        color: ivory;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #listas_alumnos {
        width: 100%;
        background: linear-gradient(to bottom, #336B87, #2A3132, #763626);
        color: ivory;
        margin-top: 2em;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #ingreso_calificaciones {
        width: 100%;
        background: linear-gradient(to bottom, #336B87, #2A3132, #763626);
        color: ivory;
        margin-top: 2em;
        padding: 1em 2em;
        border-radius: 15px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    h3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-family: "Gabarito", sans-serif;
        font-weight: 800;
        font-size: 24px;
        margin: 1em 1em 1em;
        width: 100%;
        padding: 0;
    }

    /**Seleccionar asignatura*/
    form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
        padding: 0;
        width: 90%;
        font: normal 18px georgia, sans-serif;
    }

    form #Elemento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font: normal 18px georgia, sans-serif;
        width: 100%;
    }
    
    form #Elemento label {
        width: 100%;
        height: 2em;
    }

    form input, select {
        background: ivory;
        border: 2px solid whitesmoke;
        border-radius: 15px;
        font: normal 16px georgia;
        height: 2em;
        width: 88%;
        padding-left: 2%;
        margin-bottom: 1em;
    }

    form input[type="submit"] {
        font: bold 18px "Gabarito", sans-serif;
        width: 80%;
        height: 2em;
        margin: 1em 0 0 0;
        background: ivory;
        border: 2px solid whitesmoke;
        border-radius: 15px;
    }

    #tabla{        
        background: ivory;
        border-radius: 15px;
        color: black;
        border-collapse: collapse;
        width: 80%;
        margin-bottom: 2em;
        overflow: auto;
    }

    #scroll {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    /*Tabla de alumnos*/
    table {
        width: 100%;
        background: ivory;
        color: black;
        padding: 0;
        margin: 0;
        border-collapse: collapse; /*se utiliza para fusionar los bordes en una tabla HTML.*/
        overflow-x: auto; /* Agrega un scroll si el contenido es demasiado largo */
    }

    table tr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5% 0;
        font: normal 16px georgia, sans-serif;
        width: 100%;
        background: #2A3132;
    }

    thead {
        display: none;
    }

    tbody {
        width: 100%;
    }

    table td[data-titulo] {
        display: flex;
    }

    table td[data-titulo]::before {
        content: attr(data-titulo);
        text-align: left;
        width: 50%;
        margin-right: 5px;
        color: #2A3132;
    }

    tbody td {
        max-width: 200px; /* Establece un ancho máximo para las celdas */
        overflow: auto;
        min-width: 90%;
    }

    tbody #Calificar {
        width: fit-content; 
        overflow: auto;
        text-align: center;
        justify-content: center;
    }

    #Calificar #btn_Calificar {
        border: 1px solid black;
        border-radius: 15px;
        width: fit-content; 
        padding: 2% 15%;
        margin-top: 1em;
        background: #2A3132;
        color: white;
        font: normal 16px georgia, "Times New Roman", "Gabarito", Sans-serif;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    #Calificar #btn_Calificar:hover {
        border: none;
        border-radius: 15px;
        width: fit-content; 
        padding: 3% 15%;
        background: #336B87;
        color: white;
        font: bold 16px georgia, "Times New Roman", "Gabarito", Sans-serif;
    }

    #Calificar #btn_Calificar:active {
        border: none;
        border-radius: 15px;
        padding: 2% 12%;
        background: #305365;
        color: white;
        font: bold 16px georgia, "Times New Roman", "Gabarito", Sans-serif;
    }

    tbody tr:nth-child(even){ /*Recordar que :nth-child(even) es un selector de elementos hijos pares y :nth-child(odd) es lo contrario*/
        background-color: #f2f2f2;
        
    }

    tbody tr:nth-child(odd){ /*Recordar que :nth-child(even) es un selector de elementos hijos pares y :nth-child(odd) es lo contrario*/
        background-color: rgba(144, 175, 197, 0.4);
    }

    /**Formulario de ingreso de calificaciones*/
    h4{
        text-align: center;
        font-family: "Gabarito", sans-serif;
        font-weight: 800;
        font-size: 20px;
        margin: 5px 0;
        width: 100%;
        padding: 0;
    }

    #ingreso_calificaciones #datos{
        width: 90%;
        background: ivory;
        color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;

        padding: 1em;
        border-radius: 20px;

        font: normal 16px georgia, sans-serif;
    }

    #datos p{
        width: fit-content;
        padding: 0 1em 0 0;
        margin: 0 0 3px 0;
    }

    #datos #importante{
        width: 100%;
        padding: 0;
        margin: 0 0 3px 0;
    }

    #datos strong {
        font-family: "Gabarito", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #2A3132;
    }

    form #Elemento label {
        margin-bottom: 5px;
        margin-top: 10px;
    }


}



/*PUNTO DE QUIEBRE COMPUTADORA*/

@media (min-width: 801px) {
    /*Elementos del header*/
header{
    background: #90AFC5;
    margin: 0;
    padding: 0;
}

/*Logo*/
header #logo #Elementos_Logo{
    display: flex;   /*Ayuda a colocar los contenedores como si fueran celdas de tablas, uno al lado del otro*/
    flex-direction: row; /*Dicta la dirección de los contenedores, al ser row es de izquierda a derecha*/
    align-items: center; /*Centra los elementos verticalmente*/
    justify-content: center; /*Centra los elementos horizontalmente*/
    color: white; /*Color del texto*/
    font: bold 25px georgia, times, serif;
    padding-top: 5px;
    margin: 0;
    text-align: center;
}

header #logo #Elementos_Logo img{
    min-width: 50px;
    min-height: 50px;
    max-width: 100px;
    max-width: 100px;
    object-fit: cover; /*Ajusta la imagen al contenedor manteniendo su aspecto original*/
    padding: 0;
}

header #logo #Elementos_Logo p{
    padding: 0;
    margin: 0;
}
/*Fin de parte de Logo*/

/*Menú de Navegación*/
header #Menu_navegacion{
    padding: 0;
    margin: 0;
}

header #Menu_navegacion nav{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

header #Menu_navegacion nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: auto;
    padding: 0;
    margin: 0 0 5px 0;
}

#Menu_navegacion nav ul li {
    max-width: 20%;
    /*border: 2px solid black; 
    padding: 0 1em 0 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; 
    text-align: center;*/
}

#Menu_navegacion nav ul li a{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; 
    text-align: center;
}

#Menu_navegacion nav ul li a button {/*Quitar propiedades por defecto del botón*/
    font: normal 18px georgia, times, serif; 
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 1em 0 1em;
    border-radius: 7px; /*Bordea las esquinas del contenedor*/
}

    /*Efectos al pasar el puntero en menú de navegación*/
    #Menu_navegacion nav ul li a button:hover, #Menu_navegacion nav ul li a button:active {
        background-color: #763626;
    }
    
    #Menu_navegacion nav ul li:hover a button, #Menu_navegacion nav ul li:active a button {
        color: white;
    }
    

/*Fin de menú de navegación del header*/

/*Sección principal*/
.seccion_principal{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*Menu Lateral*/
    #menu_lateral {
    background: #336B87;
    width: 20%;
    margin: 1em 1em 0 2em;
    padding: 1em;
    border-radius: 15px;
    color: white;
    height: fit-content;
    }

    /*Desaparecer el icono de menú hamburguesa*/
    #icono_hamburgesa {
        display: none;
    }

    #menu_lateral nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #menu_lateral nav h3{
        margin: 0 0 10px 0;
        padding: 0;
    }

    #menu_lateral nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #menu_lateral nav ul li { /*Opcional*/
        margin-top: 5px;
        width: 100%;
        font: normal 16px arial, times, serif; 
    }

    #menu_lateral nav ul li a button {
        text-decoration: none;
        width: 100%;
        color: white;
        font: normal 16px arial, times, serif; 
        background: none;
        border: none;
        padding: 0;
        margin: 0;
    }

    #menu_lateral nav ul #cerrar_sesion{ /*Selector para agregar una propiedad única para el li "cerrar_sesion"*/
        margin-top: 1em;
    }

    /*Desaparecer la opción de volver a la parte pública*/
    #volver_partePublica{
        display: none;
    }

    /*Efectos al pasar el puntero en el menú lateral*/
    #menu_lateral nav ul li a:hover button{
        color: #763626;
        text-decoration: underline;
    }
    
    /*? Si sobra tiempo agregar un tooltip*/
/*Fin de menú lateral*/

/**Espacio para botonres de asignaturas y las listas*/
/*TODO: Toda la información aquí es de ejemplo, se va a remplazar con los registros de la base de datos*/
#contenido{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 80%;
}

    #asignaturas {
        width: 80%;
        background: linear-gradient(to bottom, #336B87, #2A3132, #763626);
        color: ivory;
        margin: 1em 0 0 0;
        padding: 1em 2em;
        border-radius: 15px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #listas_alumnos {
        width: 80%;
        background: linear-gradient(to bottom, #336B87, #2A3132, #763626);
        color: ivory;
        margin: 1em 0 0 0;
        padding: 1em 2em;
        border-radius: 15px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #ingreso_calificaciones {
        width: 80%;
        background: linear-gradient(to bottom, #336B87, #2A3132, #763626);
        color: ivory;
        margin: 1em 0 0 0;
        padding: 1em 2em;
        border-radius: 15px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #asignaturas h3, #listas_alumnos h3, #ingreso_calificaciones h3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-family: "Gabarito", sans-serif;
        font-weight: 800;
        font-size: 24px;
        margin: 1em 1em 1em;
        width: 100%;
        padding: 0;
    }

    /**Seleccionar asignatura*/
    form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
        padding: 0;
        width: 100%;
        font: normal 18px georgia, sans-serif;
    }

    form #Elemento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font: normal 18px georgia, sans-serif;
        width: 50%;
    }
    
    form #Elemento label {
        width: 100%;
        padding: 20px 0 0 15px;
    }

    form input, select {
        background: ivory;
        border: 2px solid whitesmoke;
        border-radius: 15px;
        font: normal 16px georgia;
        height: 2em;
        width: 88%;
        padding-left: 2%;
        margin-bottom: 1em;
    }

    form input[type="submit"] {
        font: bold 18px "Gabarito", sans-serif;
        width: 30%;
        height: 2em;
        margin: 1em 0 0 0;
        background: ivory;
        border: 2px solid whitesmoke;
        border-radius: 15px;
    }

    #tabla{        
        background: lightcoral;
        width: 100%;
        background: ivory;
        color: black;
        border-collapse: collapse;
        width: 100%;
    }

    #scroll {
        width: 100%;
        
    }

    #tabla {
        overflow: auto;
    }

    /**Tabla de alumnos*/
    table {
        width: 100%;
        background: ivory;
        color: black;
        border-collapse: collapse; /*se utiliza para fusionar los bordes en una tabla HTML.*/
        overflow-x: auto; /* Agrega un scroll si el contenido es demasiado largo */
    }

    thead {
        width: 100%;
    }

    thead tr{
        font-family: "Gabarito", sans-serif;
        font-weight: 800;
        font-size: 18px;
        color: #336B87;
    }

    thead th{
        border-right: 1px solid #90AFC5;
        max-width: 200px; /* Establece un ancho máximo para las celdas */
        padding: 0 10px;
    }

    tbody {
        width: 100%;
        
    }

    tbody td {
        border-right: 1px solid #90AFC5;
        padding: 5px 0 5px 10px;
        max-width: 200px; /* Establece un ancho máximo para las celdas */
        overflow: auto;
    }

    tbody #Calificar {
        border-right: 1px solid #90AFC5;
        max-width: 100px; /* Establece un ancho máximo para las celdas */
        overflow: auto;
        text-align: center;
        justify-content: center;
    }

    #Calificar #btn_Calificar {
        border: 1px solid black;
        border-radius: 15px;
        padding: 2% 15%;
        background: #2A3132;
        color: white;
        font: normal 16px georgia, "Times New Roman", "Gabarito", Sans-serif;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    #Calificar #btn_Calificar:hover {
        border: none;
        border-radius: 15px;
        padding: 3% 15%;
        background: #336B87;
        color: white;
        font: bold 16px georgia, "Times New Roman", "Gabarito", Sans-serif;
    }

    #Calificar #btn_Calificar:active {
        border: none;
        border-radius: 15px;
        padding: 2% 12%;
        background: #305365;
        color: white;
        font: bold 16px georgia, "Times New Roman", "Gabarito", Sans-serif;
    }

    tbody #grado {
        border-right: 1px solid #90AFC5;
        padding: 5px 0 5px 0;
        max-width: 100px; /* Establece un ancho máximo para las celdas */
        overflow: auto;
        text-align: center;
    }

    tbody tr:nth-child(even){ /*Recordar que :nth-child(even) es un selector de elementos hijos pares y :nth-child(odd) es lo contrario*/
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(odd){ /*Recordar que :nth-child(even) es un selector de elementos hijos pares y :nth-child(odd) es lo contrario*/
        background-color: rgba(144, 175, 197, 0.4);
    }

    /**Formulario de ingreso de calificaciones*/
    h4{
        text-align: center;
        font-family: "Gabarito", sans-serif;
        font-weight: 800;
        font-size: 20px;
        margin: 5px 0;
        width: 100%;
        padding: 0;
    }

    #ingreso_calificaciones #datos{
        width: 90%;
        background: ivory;
        color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;

        padding: 1em;
        border-radius: 20px;

        font: normal 16px georgia, sans-serif;
    }

    #datos p{
        width: fit-content;
        padding: 0 1em 0 0;
        margin: 0 0 3px 0;
    }

    #datos #importante{
        width: 100%;
        padding: 0;
        margin: 0 0 3px 0;
    }

    #datos strong {
        font-family: "Gabarito", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #2A3132;
    }

    /**Estilo para mod calificaciones*//**Estilos extra para modificar faltas*/
    #btn_GuardarCambios, #btn_Justificarfalta
    {
        margin: 0 4em;
        padding: 0 3em;
        width: fit-content;
    }

    
    



    /**Fin de estilos para botones y tablas*/


}



















